<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add book to library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          crossorigin="anonymous">
    <style>
        body {
            padding: 50px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <form id="create-book-form" th:method="post" th:action="'/books/create'" th:object="${book}">
        <h3 class="mb-3">New book:</h3>

        <div class="form-group row">
            <label for="book-title-input" class="col-sm-2 col-form-label">Title:</label>
            <div class="col-sm-10">
                <input id="book-title-input" name="title" type="text" class="form-control" required/>
            </div>
        </div>

        <div class="form-group row">
            <label for="authorIds" class="col-sm-2 col-form-label">Select authors:</label>
            <div class="col-sm-10">
                <select id="authorIds" form="create-book-form" th:field="*{authorIds}" class="form-control" multiple
                        required>
                    <option th:each="author : ${allAuthors}" th:value="${author.id}" th:text="${author.name}">
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="genreName" class="col-sm-2 col-form-label">Genre:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{genreName}" id="genreName" name="genreName" class="form-control"
                       required/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary mr-1">Create</button>
                <a href="list.html" th:href="@{/}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>

    </form>
</div>
</body>
</html>